name: Build and Cache Nix

on:
  push:
    branches: [main]
    paths:
      - 'build2cmake/**'
      - 'kernel-abi-check/**'
  pull_request:
    paths:
      - 'build2cmake/**'
      - 'kernel-abi-check/**'

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: ubuntu-24.04-arm
            system: aarch64-linux
          - os: macos-latest
            system: aarch64-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v15
        with:
          name: huggingface
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build build2cmake
        run: |
          nix build .#packages.${{ matrix.system }}.build2cmake -L

      - name: Build kernel-abi-check
        run: |
          nix build .#packages.${{ matrix.system }}.kernel-abi-check -L
